<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/css/main.css">
    <title>Newly Read | @ViewBag.Title</title>
</head>
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u="//zafuzi.piwikpro.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
<noscript>
    <p><img src="//zafuzi.piwikpro.com/piwik.php?idsite=1" style="border:0;" alt="" /></p>
</noscript>
<!-- End Piwik Code -->

<body>
    @Html.Partial("_Header")
    <main>
        <section class="featured">
            @RenderSection("featured", required: false)
        </section>
        @RenderBody()
    </main>


    <script src="~/lib/scripts/jquery-3-1-1.min.js"></script>
    <script src="~/lib/scripts/velocity.min.js"></script>
    <script src="~/lib/scripts/jquery.sticky.js"></script>
    <script src="~/lib/scripts/jquery.unveil.js"></script>
    <script src="~/lib/scripts/index.js"></script> @RenderSection("scripts", required:false)
</body>

</html>