@using NewlyReadCore.SQLite
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Default.cshtml";
    var db = new MyDBContext();
    var articles = db.Articles.Where(i => i.category == "technology").ToList();
}
<h1 class="center_h">Newly Read</h1>
<!--<div class="stream_container">
    
</div>-->
<!-- AWESOME IDEA! Use a single page for all the categories! It'll be easy! I swear! -->
<div class="stream_container">
    @foreach (var item in articles) {
        <a href="/Article/?id=@item.url" class="stream_card">
            <h4>@item.title</h4> 
            <figure>
                <img src="@item.urlToImage"/>
                <figcaption>
                    <p>@item.description</p>
                    <small>@item.author @item.publishedAt</small>
                </figcaption>
            </figure>
        </a>
        <hr/>
    }
</div>