@using NewlyReadCore.SQLite 
@using NewlyReadCore.Tools
@{ 
    ViewBag.Title = "Home"; 
}
<h1 class="center_h">Newly Read</h1>
<p>@ViewBag.URL</p>
<div class="stream_container"> 
    @foreach(var article in ViewBag.DB){
        <a href="/Categories/Article/?url=@article.url" class="stream_card">
            <h4>@article.title</h4>
            <figure>
                <img src="~/lib/images/default.png" data-src="@article.urlToImage"/>
                <figcaption>
                    <p>@ArrayTools.Truncate(article.description, 120)...</p>
                    <br/>
                    <p>@article.provider_name | @article.author @article.publishedAt</p>
                </figcaption>
            </figure>
        </a>
        <hr/>
    }
</div>