@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<div class="reader">
	<div class="reader_container">
		@if(ViewBag.isNode){
			<img class="article_header" src='@ViewBag.Nodes["image"]'/>
			<a href="@ViewBag.Original" target="_blank">Original Article</a>
			<div class="article_body">
				<h1>@ViewBag.Nodes["title"]</h1>
				<small>@ViewBag.Nodes["author"] | @ViewBag.Nodes["publishDate"]</small>
				<div>
					@* Serialize and extract each line break for paragraphs *@
					@foreach(var c in ViewBag.Nodes["article"]){
						@c
						if(c == '\n'){
							@Html.Raw("<br/>")
						}
					}
				</div>
			</div>
		}else{
			@ViewBag.Article.title
			@ViewBag.Article.jsonstring
		}
		
		
	</div>
</div>

@section scripts{
	<script>
		$(function(){
			$("img").map((img, key) => {
				$(key).attr('data-src', $(key).attr('src'));
			});
			$("img").unveil(200, function() {
				$(this).on('load', function(){
					$(this).velocity({"opacity": "1"});
				});
			});
		});
	</script>
}